{{>header}}
{{>navbar}}
<section class="container my-5">
    <div class="alert alert-danger text-center">
        <h3 class="p-2">{{errMsg}} </h3>
        <a href="/" class="btn btn-danger">back to home</a>
        </div>
</section>

{{>footer}}