<router-outlet></router-outlet>
<!-- <carousel>
    <slide *ngFor = "let s of slides">
        <img [src]="s" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
  </carousel> -->

  <!-- {{ now | date:"short" }}
  {{ now | date:'mm:ss' }} 

  <li *ngFor="let s of slides|slice:2:4">
      {{s}}
  </li>

  {{ "hello" | uppercase}}

  {{x|number:'3.1-4'}}

  {{y|percent}}

  {{y|currency:'INR'}} -->