<router-outlet></router-outlet>

<app-homepage></app-homepage>

<!-- <p>app Component</p>

<app-homepage></app-homepage>

test -->
<!-- <h3>Interpolation</h3> -->

<!-- {{ name }}<br>

{{ 5+3 }} <br>

{{ test() }}

<div style.color="{{color}}">test div</div>

<p class="{{cName}}"></p>

{{names}} -->
<!-- {{x}}<br>
{{y}}

user name is {{user.name}} and age is {{user.age}} -->
<!-- <img src="{{x}}">
<h3>property binding</h3>
<img [src]='x'>
<p [class]="cName"></p>
<div [innerText]="x"></div> -->

<!-- <h4>event binding</h4> -->
<!-- <div [class]="cName" (click)="handleClick(); handleClick1()"></div>

{{counter}} -->
<!-- 
<input (input)="handleInput($event)"> {{data}}

<input (keyup.enter)="data1=$any($event.target).value">
<p>{{data1}}</p> -->

<!-- <h4>Two way binding</h4>
<input [(ngModel)]="v">
{{v}} -->
