<!-- <section >
    <app-header></app-header>
    <app-card></app-card>
    <app-contact></app-contact>
</section> -->

<!-- <img src="assets/images/banner.jpg"> -->


<!-- <section class="container"> -->
    <!-- <div [ngSwitch]="monthNum">
        <li *ngSwitchCase="1">jan</li>
        <li *ngSwitchCase="2">feb</li>
        <li *ngSwitchCase="3">mar</li>
        <li *ngSwitchCase="4">apr</li>
        <li *ngSwitchCase="5">may</li>
        <li *ngSwitchDefault>not available</li>
    </div> -->
    <!-- <button class="btn btn-success" (click)="changeStatus()">click</button>
<li *ngIf="status; else elseBlock">
    hello
</li>
<ng-template #elseBlock>
    <li>false satuts</li>
</ng-template>


</section> -->















