{{>header}}
{{>navbar}}

<section class="container my-3">
    <form method="post">
        <div class="row">
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Name</label>
            <input placeholder="name" class="form-control" name="name">
        </div>
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Age</label>
            <input placeholder="Age" class="form-control" name="age">
        </div>
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Email</label>
            <input placeholder="email" class="form-control" name="email">
        </div>
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Address</label>
            <input placeholder="address" class="form-control" name="address">
        </div>
        <div class="mb-3 col-12">
            <button class="btn btn-primary">add user</button>
        </div>

        </div>
    </form>
</section>

{{>footer}}