{{>header}}
{{>navbar}}
<section class="container my-3">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>marwa</td>
                <td>
                    <a href="single" class="btn btn-primary m-1">show single</a>
                    <a href="editUser" class="btn btn-warning m-1">Edit</a>
                    <a href="del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>marwa</td>
                <td>
                    <a href="single" class="btn btn-primary m-1">show single</a>
                    <a href="editUser" class="btn btn-warning m-1">Edit</a>
                    <a href="del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>marwa</td>
                <td>
                    <a href="single" class="btn btn-primary m-1">show single</a>
                    <a href="editUser" class="btn btn-warning m-1">Edit</a>
                    <a href="del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>marwa</td>
                <td>
                    <a href="single" class="btn btn-primary m-1">show single</a>
                    <a href="editUser" class="btn btn-warning m-1">Edit</a>
                    <a href="del" class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{{>footer}}