{{>header}}
{{>navbar}}

<section class="container my-3">
    <form >
        <div class="row">
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Name</label>
            <input placeholder="name" class="form-control">
        </div>
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Age</label>
            <input placeholder="Age" class="form-control">
        </div>
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Email</label>
            <input placeholder="email" class="form-control">
        </div>
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Address</label>
            <input placeholder="address" class="form-control">
        </div>
        <div class="mb-3 col-12">
            <button class="btn btn-primary">Edit user</button>
        </div>

        </div>
    </form>
</section>
{{>footer}}